input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

h1{
    text-align: center;
}

#top{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 400px;
    height: 50px;
    font-size: 20px;
}

button{
    width: 100px;
    height: 50px;
    font-size: 20px;
}