*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* margin: auto; */
}
fieldset{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(204, 223, 241);
}

input{
    width: 80%;
    height: 40px;
    font-size: 17px;
    border-radius: 2px;
}

button{
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
}

#linkTag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#role{
    width: 80%;
    height: 40px;
    font-size: 17px;
    border-radius: 2px;
}

#btn{
    width: max-content;
    height: max-content;
}